@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #1a1b26;
  color: #c0caf5;
}

::selection {
  background: #2ac3de;
  color: #1a1b26;
}

::-moz-selection {
  background: #2ac3de;
  color: #1a1b26;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #565f89 #1a1b26;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #1a1b26;
}

*::-webkit-scrollbar-thumb {
  background-color: #565f89;
  border-radius: 999px;
  border: 2px solid #1a1b26;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #2ac3de;
}
